@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-font-color: white;
    /* --background-color: rgba(10, 11, 16, 0.2); */
    --background-image: url('../src/assets/images/background.jpg');
}

body {
    color: var(--main-font-color);
    background: var(--background-color);
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@layer utilities {
    .expand-collapse-icon {
        font-size: 14px;
        width: 1em;
        height: 1em;
        position: relative;
        display: inline-block;
    }
    .expand-collapse-icon::before, .expand-collapse-icon::after {
        content: "";
        position: absolute;
        width: 1em;
        height: .16em;
        top: calc( (1em / 2 ) - .08em );
        background-color: white;
        transition: 0.3s ease-in-out all;
        border-radius: 0.03em;
    }

    .expand-collapse-icon::after {
        transform: rotate(90deg);
    }

    .collapsed.expand-collapse-icon::after {
        transform: rotate(180deg);
    }


    .collapsed.expand-collapse-icon::before {
        transform: rotate(90deg) scale(0);
    }
}